# Core ML Libraries
torch>=2.4.0  #pip install torch>=2.4.0
transformers>=4.51.3 #pip install transformers>=4.51.3

# Hugging Face
huggingface_hub #pip install huggingface_hub
accelerate #pip install accelerate

# Vision Processing  
timm #pip install timm

#backend
fastapi #pip install fastapi
uvicorn #pip install uvicorn
python-multipart #pip install python-multipart

#audio
librosa #pip install librosa

#opencv
opencv-python #pip install opencv-python
pillow #pip install pillow
imageio #pip install imageio